<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            IFnexus
        {% endblock %}
    </title>
    <link rel="stylesheet" href="static/css/base.css">
    {% block estilos %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
</head>
<body style="background-color: #F2F2F2;">

    <header>
        <h1 href="/" class="home">IFNexus</h1> <!-- a ser substituido pela img -->
            
        <div class="botoes">
            {% if session.usuario %}
                <nav class="botoes_logged">
                    <a href="/" class="Incio">Início</a>
                    <a href="/" class="Projetos">Projetos</a>
                    <a href="/" class="Sobre">Sobre</a>
                    <a href="/" class="Usuario">Usuario</a> <!-- tem q como sera feito aqui ainda-->
                </nav>
            
            {% else %}
                <nav class="botoes_not_logged">
                    <a href="/" class="Incio">Início</a>
                    <a href="/" class="Projetos">Projetos</a>
                    <a href="/" class="Sobre">Sobre</a>
                    <a href="/" class="Login">Login</a>
                </nav>
            {% endif %}
        </div>
    </header>
        <!-- definiremos as rotas dos ngcs aq em cima apos a criacao das pags-->

    <h1>
        {% block pagina %}
            
        {% endblock %}
    </h1>

    {% block conteudo %}
        
    {% endblock %}
    
</body>
</html>
